.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.iml
/node_modules
/src/webapp/npm-debug.log
.idea/
*.ipr
*.iws
/out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/src/webapp/dist
/src/webapp/node_modules